{% extends "unfold/layouts/unauthenticated.html" %}
{% load i18n static unfold %}

{% block title %}
    {% trans "Sign in" %} | {{ site_title }}
{% endblock %}

{% block content %}
    {% include "unfold/helpers/unauthenticated_title.html" with title=login_heading subtitle=subtitle %}

    {% include "unfold/helpers/messages.html" %}

    {% if form.errors or form.non_field_errors %}
        <div class="*:mb-0! mb-8 flex flex-col gap-4">
            {% include "unfold/helpers/messages/errornote.html" with errors=form.errors %}
            {% include "unfold/helpers/messages/error.html" with errors=form.non_field_errors %}
        </div>
    {% endif %}

    <form method="post" action="{% url 'accounts:login' %}" id="provider-login-form" novalidate>
        {% csrf_token %}
        {% include "unfold/helpers/field.html" with field=form.username %}
        {% include "unfold/helpers/field.html" with field=form.password %}
        <input type="hidden" name="next" value="{{ next|default:'' }}">

        <div class="mt-6 flex flex-col gap-3">
            {% component "unfold/components/button.html" with submit=1 variant="primary" class="submit-row w-full" %}
                {% trans "Sign in" %}
                <span class="material-symbols-outlined relative right-0 text-sm transition-all group-hover:-right-1">arrow_forward</span>
            {% endcomponent %}
        </div>
    </form>

    <p class="text-font-subtle-light dark:text-font-subtle-dark mt-10 text-center text-xs">
        Designed by Mohammed Fathi @ 2026
    </p>
{% endblock %}
